


header{
  .navbar {
    background-color: #f30032;
    height: 100px;


    .navbar-nav {
      li {
        padding-left: 25px;

        a {
          text-decoration: none;
          color: #FFFFFF !important;
          font-size: 18px;
          font-family: Roboto;
          font-weight: 300;
        }
      }
    }
  }
}

.barra-esquerda {
  width: 25px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f30032;
}
.barra-direita {
  width: 25px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #f30032;
}

.botao-branco {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  color: #EB0029;
  background-color: #FFFFFF;
  border: none;
  outline: none;
}
.carousel-indicators > li {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.carousel-indicators .active {
  background-color: #EB0029 !important;
}

#banner-principal {
  margin-bottom: 80px;
  padding-top: 100px;
}

#destaque {
  .titulo-destaque {
    margin-top: 15px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 300;
    color: #000000;
    line-height: 34px;

    .categoria-destaque {
      color: #EB0029;
      font-weight: bold;
    }
  }
}

#posts{
  margin-top: 70px;
  
  a {
    text-decoration: none;
  }

  .titulo-destaque {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    line-height: 26px;
    margin-bottom: 30px;

    .categoria-destaque {
      color: #EB0029;
      font-weight: bold;
    }
  }
  h3 {
    font-family: Roboto;
    font-size: 24px;
    color: #EB0029;
    padding-left: 15px;
    margin-bottom: 30px;
  }
}

#newsletter{
  margin-top: 75px;

  h2 {
    font-family: Roboto;
    font-size: 24px;
    color: #EB0029;
    font-weight: 400;
    text-align: center;
  }
  form {
    margin: 0 auto;
    text-align: center;
    margin-top: 35px;
    input {
      background:none;
      border: none;
      border: solid #C6C6C6 1px;
      font-family: Roboto;
      font-weight: 300;
      color: #707070;
      padding: 10px;
      margin-bottom: 10px;
    }
    .nome {
      width: 270px;
      height: 52px;
      margin-right: 10px;
    }
    .email {
      width: 400px;
      height: 51px;
    }
    a {
      background-color: #EB0029;
      color: #FFFFFF;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
      border: solid 1px #EB0029;
      border-top: solid 2px #EB0029;
    }  
  }
  p {
      font-family: Roboto;
      font-weight: 300;
      font-size: 15px;
      color: #B2B2B2;
      text-align: left;
      padding-left: 45px;
      padding-right: 20px;
      margin-bottom: 40px;
    }
}

footer{
  height: 300px;
  background-color: #f30032;

  .logo-footer {
    margin-top: 110px;
  }
  .menu-footer {
    margin-top: 110px;
    line-height: 20px;
    a {
      text-decoration: none;
      color: #FFFFFF;
      font-family: Roboto;
      font-weight: 300;
      font-size: 14px;
    }
  }

  .redes {
    margin-top: 110px;
    line-height: 35px;

    .botao-branco-footer {
      padding-left: 48px;
      padding-right: 48px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-family: Roboto;
      font-weight: bold;
      font-size: 18px;
      color: #EB0029;
      background-color: #FFFFFF;
      border: none;
      outline: none;
    }

    .rede {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 18px;
      padding-right: 28px;
    }
  }
  
}

#post-interna {
  padding-top: 100px;

  .bloco-titulo {
    width: 700px;
    background-color: #FFFFFF;
    position: relative;
    padding-right: 20px;
    line-height: 45px;
    padding-bottom: 100px;
  }

  .titulo-post {
    font-family: Roboto;
    font-size: 40px;
    color: #EB0029;
    margin-top: -100px;
    font-weight: bold;
    padding-top: 20px;

  }
  .subtitulo-post{
    font-family: Roboto;
    font-size: 38px;
    color: #000000;
    font-weight: 300;


  }

  .conteudo{
    p {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .box-curso {
    border: solid 1px #EB0029;
    padding: 20px;

    .titulo-curso{
      font-family: Helvetica;
      font-size: 17px;
      color: #EB0029;
      line-height: 20px;
      font-weight: bold;
    }
  }
}


@media (max-width: 765px) {
    .barra-esquerda {
      width: 10px;
    }
    .barra-direita {
      width: 10px;
    }
}